{% extends "admin/adminbase.html" %}
{% load static %}
{% load times %}

{% block adminemployee %}class="active"{% endblock %}
{% block breadcrumb %}Employee{% endblock %}
{% block admins %}
                  
    <div class="mt-5 projects">
        <div class="card mb-3">
            <div class="card-header">
                <h6>Employees</h6>
                <span class="las la-ellipsis-h"></span>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <div class="d-flex flex-row-reverse bd-highlight me-4 mb-1">
                        <form class="d-flex searchbar" action="{% url 'adminemployee' %}" method="GET">
                            <input class="form-control me-1" type="search" name="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-danger" type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    </div>
                    <table width="100%">
                        <thead>
                            <tr>
                                <td>Sl No</td>
                                <td>Employee ID</td>
                                <td>Employee Name</td>
                                <td>Email</td>
                                <td>Designation</td>
                                <td>Gender</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for list in employees %}
                            <tr class="bs-table-row">
                                {% if employees.start_index %}
                                <td>{{forloop.counter0|add:employees.start_index }}</td>
                                {% else %}
                                <td>{{forloop.counter}}</td>
                                {% endif %}
                                <td>{{list.designation.code}}</td>
                                <td>{{list.user.first_name}} {{list.user.last_name}}</td>
                                <td>{{list.user.email}}</td>	
                                <td>{{list.designation.name}}</td>
                                <td>{{list.user.gender}}</td>									
                            </tr>
                            {% empty %}
                            <tr class="bs-table-row">
                                <td></td> 
                                <td colspan="4">
                                    <img src="{% static 'images/empty.png' %}" alt="" class="w-100 img-fluid rounded">
                                </td>
                                <td></td>    
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="row m-0 p-0">
                    <div class="col-2"></div>
                        <div class="col-8 m-0 p-0">
                            {% if not seeall %}
                            <nav aria-label="Page navigation example">
                                <ul class="pagination pagination-sm justify-content-center">
                                    {% if employees.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="{% url 'adminemployee' %}?Page={{employees.previous_page_number}}"><i class="fas fa-chevron-left"></i></a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="" tabindex="-1" aria-disabled="true"><i class="fas fa-chevron-left"></i></a>
                                    </li>
                                    {% endif %}

                                    {% for i in employees.paginator.num_pages|times %}
                                    {% if i == employees.number %}
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" href="{% url 'adminemployee' %}?Page={{employees.number}}">{{i}}</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item"><a class="page-link" href="{% url 'adminemployee' %}?Page={{i}}">{{i}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    
                                    {% if employees.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="{% url 'adminemployee' %}?Page={{employees.next_page_number}}"><i class="fas fa-chevron-right"></i></a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="" tabindex="-1" aria-disabled="true"><i class="fas fa-chevron-right"></i></a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {% endif %}
                        </div>
                    
                    {% if seeall %}
                    <div class="col-2 wrap justify-content-end">
                        <span><a href="{% url 'adminemployee' %}?Page=1">See less<i class="las la-arrow-right"></i></a></span>
                    </div>
                    {% else %}
                    <div class="col-2 wrap justify-content-end">
                        <span><a href="{% url 'adminemployee' %}?View=seeall">See all<i class="las la-arrow-right"></i></a></span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}