{% extends "manager/base.html" %}
{% load static %}

{% block aboutactive %}active{% endblock %}

{% block body %}

    <div class="mt-80 container-fluid">
        <div class="breadcrumb-div d-flex justify-content-between"">
            <div class="">
                <h5 class="text-light">About ONGC</h5>
            </div>
            <div class="">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'index' %}"><span class="las la-home"></span></a></li>
                      <li class="breadcrumb-item"><a href="{% url 'about' %}">About ONGC</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Our Offices</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="mt-3 mb-3 p-3 static">
            <h3 class="heading display-6">Our Offices</h3>
            <p class="text-end small">Last updated on: 18 March 2021 10:00:00 am</p>


            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">For Queries</div>

                    <div class="ongc-contact-detail">
                        <!--<p><strong>For Website &amp; Content related Queries</strong>: <a href="mailto:editorspeak@ongc.co.in" target="_blank" >editorspeak@ongc.co.in</a></p> -->
                        
                        <strong>For Media related queries:</strong>
                        <p class="mb-0">
                            &nbsp; &nbsp; 1. Fax No &nbsp;<span style="color: rgb(44, 44, 44); font-family: Arial, Helvetica, sans-serif; text-align: justify;">011-261 29091&nbsp;</span>
                        </p>
    
                        <p class="lh-1">&nbsp; &nbsp; 2. Email id:&nbsp;<a href="mailto:ongcdelhicc@ongc.co.in" target="_blank" >ongcdelhicc@ongc.co.in</a></p>
    
                        <p><strong>For ONGC Recruitment-related queries:&nbsp;</strong><a href="mailto:recruitment@ongc.co.in" target="_blank" >recruitment@ongc.co.in</a></p>
    
                        <p><strong>For ONGC CSR-related queries: </strong><a href="mailto:csr@ongc.co.in" target="_blank" >csr@ongc.co.in</a></p>
    
                        <p><strong>For ONGC Sports-related queries:&nbsp;</strong><a href="mailto:ongcsports@ongc.co.in" target="_blank" >ongcsports@ongc.co.in</a></p>
                    </div>
                </div>
            </div>
            
            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">Delhi</div>
    
                    <div class="ongc-contact-detail">
                        <ul>
                            <li>Head Co-ordination, ONGC</li>
                            <li>Deendayal Urja Bhawan, 5A, Nelson Mandela Marg, Vasant Kunj, New Delhi-110070</li>
                            <li>Telephone: 011-26752021, 26122148 (Office), 011-26129091 (Fax)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">Dehradun</div>

                    <div class="ongc-contact-detail">
                        <ul>
                            <li>Frontier Basin</li>
                            <li>Basin Manager</li>
                            <li>ONGC, IDT Campus, Kaulagarh Road, Dehradun-248195</li>
                            <li>Telephone: 0135-2758778 (Office), 0135-2753639 (Fax)</li>
                            <li>&nbsp;</li>
                            <li>GEOPIC</li>
                            <li>Head GEOPIC</li>
                            <li>ONGC, GEOPIC, KDMIPE Campus, Kaulagarh Road, Dehradun</li>
                            <li>Telephone: 0135-2758626 (Office), 0135-22795879 (Fax)</li>
                            <li>&nbsp;</li>
                            <li>Institute of Drilling Technology (IDT)</li>
                            <li>Head IDT</li>
                            <li>ONGC, IDT, Kaulagarh Road, Dehradun PIN-248 195</li>
                            <li>Telephone: 0135-2756109 (Office), Fax No.: 0135 275 8926</li>
                            <li>&nbsp;</li>
                            <li>Keshava Deva Malaviya Institute of Petroleum Exploration (KDMIPE)</li>
                            <li>Head KDMIPE</li>
                            <li>ONGC, KDMIPE, 9 Kaulagarh Road, Dehradun-248 195</li>
                            <li>Telephone: 0135-2753193 (Office)Fax No. : 0135-2755265</li>
                            <li>&nbsp;</li>
                            <li>ONGC Academy</li>
                            <li>Head ONGC Academy</li>
                            <li>ONGC Academy, KDMIPE Campus, Kaulagarh Road, Dehradun-248195</li>
                            <li>Telephone: 0135-2754283 (Office), Fax Number - 0135 -2758832</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">Agartala</div>

                    <div class="ongc-contact-detail">
                        <ul>
                            <li>Tripura Asset</li>
                            <li>Asset Manager</li>
                            <li>ONGC, Badarghat Complex, Agartala (Tripura West) - 799014</li>
                            <li>Telephone: 0381-2374300 (Office), Fax No.: 0381-2374288</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">Ahmedabad</div>

                    <div class="ongc-contact-detail">
                        <ul>
                            <li>Ahmedabad Asset</li>
                            <li>Asset Manager</li>
                            <li>ONGC, Avani Bhavan, Chandkheda, Ahmedabad-380005</li>
                            <li>Telephone: 079-23266521 (Office), 079-23291289 (Fax)</li>
                            <li>&nbsp;</li>
                            <li>Institute of Reservoir Studies (IRS)</li>
                            <li>Head IRS</li>
                            <li>ONGC, IRS, Chandkheda Ahmedabad-380005</li>
                            <li>Telephone: 079-23291704 (Office)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">Ankleshwar</div>

                    <div class="ongc-contact-detail">
                        <ul>
                            <li>Ankleshwar Asset</li>
                            <li>Asset Manager</li>
                            <li>ONGC, Ankleshwar-393010, Distt: Bharuch, Gujarat</li>
                            <li>Telephone: 02646-237500 (Office), 02646-246926 (Fax)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">Cambay Asset</div>

                    <div class="ongc-contact-detail">
                        <ul>
                            <li>Cambay Asset</li>
                            <li>Asset Manager</li>
                            <li>ONGC, P.O. Kansari, Khambhat,</li>
                            <li>District Anand, Gujarat-388630)</li>
                            <li>Telephone: 02698-221105 (Office), 02698-221384 (Fax)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">Chennai</div>

                    <div class="ongc-contact-detail">
                        <ul>
                            <li>Cauvery Basin</li>
                            <li>Basin Manager</li>
                            <li>ONGC, Thalamuthu Natarajan Bldg. (CMDA Tower-I)</li>
                            <li>No.1, Gandhi Irwin Road, Egmore, Chennai - 600 008</li>
                            <li>Telephone: 044-28542500 - 2510 (Office), 044-28542555 (Fax)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">Goa</div>

                    <div class="ongc-contact-detail">
                        <ul>
                            <li>Institute of Petroleum Safety, Health &amp; Environment Management (IPSHEM)</li>
                            <li>Head IPSHEM</li>
                            <li>ONGC, IPSHEM, P.O. Via Velim, Betul, South Goa 403723</li>
                            <li>Telephone: 0832-2677001 (Office), 0832 –2677029 (Fax)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">Hazira</div>

                    <div class="ongc-contact-detail">
                        <ul>
                            <li>Hazira Plant</li>
                            <li>Plant Manager</li>
                            <li>Hazira Plant, PO ONGC Nagar, Surat-394518</li>
                            <li>Telephone: 0261-2875600 (Office), 0261-2875575 (Fax)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">Jodhpur</div>

                    <div class="ongc-contact-detail">
                        <ul>
                            <li>Rajasthan Forward Base</li>
                            <li>Head Forward Base</li>
                            <li>Rajasthan Forward Base, ONGC, WoB,</li>
                            <li>ONGC, KDM Complex, Mandore Road, Jodhpur-342 026</li>
                            <li>Telephone; 0291-2572396 (Office), 0291-2571027 (Fax)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">Jorhat</div>

                    <div class="ongc-contact-detail">
                        <ul>
                            <li>Jorhat Asset</li>
                            <li>Asset Manager</li>
                            <li>Luit Bhawan, ONGC, Cinnamara Complex,</li>
                            <li>P O : Cinnamara, Dist : Jorhat , Assam, PIN: 785704</li>
                            <li>Telephone: 0376- 2360011 (Office), 0376-2360012 (Fax)</li>
                            <li>&nbsp;</li>
                            <li>Jorhat Basin</li>
                            <li>Basin Manager</li>
                            <li>Luit Bhawan, ONGC, Cinnamara Complex,</li>
                            <li>P O : Cinnamara, Dist : Jorhat , Assam, PIN: 785704</li>
                            <li>Telephone: 0376- 2360011 (Office), 0376-2360012 (Fax)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">Kakinada</div>

                    <div class="ongc-contact-detail">
                        <ul>
                            <li>Kakinada Asset (Eastern Offshore Asset)</li>
                            <li>Asset Manager</li>
                            <li>ONGC, EOA, II Floor-South Block, Subhadra Arcade, Bhanugudi</li>
                            <li>Junction, Kakinada 533 003</li>
                            <li>Telephone: 0884-2374100 (Office), Fax No.: 0884-2374104</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">Karaikal</div>

                    <div class="ongc-contact-detail">
                        <ul>
                            <li>Karaikal Asset</li>
                            <li>Asset Manager</li>
                            <li>ONGC, Neravy Office Complex, Neravy (PO), Karaikal - 609 604</li>
                            <li>Telephone: 04368-238890 (Office), 04368 -238126 (Fax)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">Kolkata</div>

                    <div class="ongc-contact-detail">
                        <ul>
                            <li>MBA Basin</li>
                            <li>Basin Manager</li>
                            <li>ONGC, 2-4 Floors, Technopolis Building, Salt Lake City, Block BP, Sector V, Kolkata - 700091</li>
                            <li>Telephone: 033- 2340-4000 (Office), 033- 2367-2144 (Fax)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">Bokaro</div>

                    <div class="ongc-contact-detail">
                        <ul>
                            <li>Bokaro Asset</li>
                            <li>Asset Manager</li>
                            <li>1<sup>st</sup> Floor, HSCL Building</li>
                            <li>Bokaro Steel City Bokaro: 827001.</li>
                            <li>EPABX / DID: 06542- 2442XX (Office), 06542 - 226666 (Fax)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">Bhubaneswar</div>

                    <div class="ongc-contact-detail">
                        <ul>
                            <li>Bhubaneswar</li>
                            <li>Head</li>
                            <li>ONGC, 2<sup>nd</sup> Floor, Block-1</li>
                            <li>BMC Bhabani Office Complex, Sahid Nagar Bhuwaneswar - 751007</li>
                            <li>Telephone: 0674-2544224 (Office)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">Mehsana</div>

                    <div class="ongc-contact-detail">
                        <ul>
                            <li>Mehsana Asset</li>
                            <li>Asset Manager</li>
                            <li>ONGC, KDM Bhavan, ONGC, Mehsana Asset, Palavasana, Mehsana-384003</li>
                            <li>Telephone: 02762-225430&nbsp;(Office), 02762-225811 (Fax)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">Mumbai</div>

                    <div class="ongc-contact-detail">
                        <ul>
                            <li>Mumbai High Asset</li>
                            <li>Asset Manager</li>
                            <li><strong>C-806</strong>, 8th Floor, ONGC Vasudhara Bhavan, Western Express Highway, Bandra (East), Mumbai – 400051</li>
                            <li>Telephone: 022-2656-2806 (Office), 022-26533258(Fax)</li>
                            <li>&nbsp;</li>
                            <li>Neelam &amp; Heera Asset</li>
                            <li>Asset Manager</li>
                            <li><strong>B-851</strong>, 8th Floor, ONGC Vasudhara Bhavan, Western Express Highway, Bandra (East), Mumbai – 400051</li>
                            <li>Telephone: 022-2656-2852 (Office), 022-26531614 (Fax)</li>
                            <li>&nbsp;</li>
                            <li>Bassein &amp; Satellite Asset</li>
                            <li>Asset Manager</li>
                            <li><strong>C-808,</strong>&nbsp;8th Floor, ONGC Vasudhara Bhavan, Western Express Highway, Bandra (East), Mumbai – 400051</li>
                            <li>Telephone: 022-2656-2808 (Office), 022-26533626 (Fax)</li>
                            <li>&nbsp;</li>
                            <li>Western Offshore Basin</li>
                            <li>Basin Manager</li>
                            <li>Q1/A+, 7th Floor, NBP Green Heights, Plot C-69, Bandra Kurla Complex, Bandra (East). Mumbai - 400051</li>
                            <li>Telephone: 022-2627 4701(Office), 022-26533626(Fax)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">Navi Mumbai</div>

                    <div class="ongc-contact-detail">
                        <ul>
                            <li>Institute of Oil &amp; Gas Production Technology (IOGPT)</li>
                            <li>Head IOGPT</li>
                            <li>ONGC Complex, Phase-II, Panvel, Navi Mumbai – 410221</li>
                            <li>Telephone: 022-27486000</li>
                            <li>/6997/6998 (Office), 022-27451690 (Fax)</li>
                            <li>&nbsp;</li>
                            <li>Institute of Engineering &amp; Ocean Technology (IEOT)</li>
                            <li>Head IEOT</li>
                            <li>ONGC Complex, Phase-II, Panvel, Navi Mumbai – 410221</li>
                            <li>Telephone: 022-27451893 (Office), 022-27486350 (Fax)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">Nazira</div>

                    <div class="ongc-contact-detail">
                        <ul>
                            <li>Assam Asset</li>
                            <li>Asset Manager</li>
                            <li>ONGC, Nazira, District-Sivasagar, Pin-785685, Assam</li>
                            <li>Telephone: 03772-252300 (Office), 03772-252243 (Fax)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">Rajahmundry</div>

                    <div class="ongc-contact-detail">
                        <ul>
                            <li>Rajahmundry Asset</li>
                            <li>Asset Manager</li>
                            <li>ONGC, Godavari Bhavan, Base Complex, Rajahmundry-533 106, East Godavari District (A.P.)</li>
                            <li>Telephone: 0883-2424348 (Office), 0883-2434386 (Fax)</li>
                            <li>&nbsp;</li>
                            <li>Krishna Godavari - Pranahita Godavari Basin</li>
                            <li>Basin Manager</li>
                            <li>ONGC, Godavari Bhavan, Base Complex, Rajahmundry-533 106, East Godavari District (A.P.)</li>
                            <li>Telephone: 0883-2494100 (Office), 0883-2440670 (Fax)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">Silchar</div>

                    <div class="ongc-contact-detail">
                        <ul>
                            <li>Cachar Forward Base</li>
                            <li>Head Forward Base</li>
                            <li>ONGC, Srikona, Silchar-788026, Dist. Cachar, Assam,</li>
                            <li>Telephone: 03842-229022 (Office), Fax No.: 03842-268951</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">Uran</div>

                    <div class="ongc-contact-detail">
                        <ul>
                            <li>Uran Plant</li>
                            <li>Plant Manager</li>
                            <li>ONGC, Dronagiri Bhavan, Uran, Distt Raigad 400702</li>
                            <li>Telephone: 022-27222802 (Office), 022-27222811 (Fax)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    <div class="ongc-contact-title blockquote">Vadodara</div>

                    <div class="ongc-contact-detail">
                        <ul>
                            <li>Western Onshore Basin</li>
                            <li>Basin Manage</li>
                            <li>ONGC, Makarpura Road, Vadodara – 390009</li>
                            <li>Telephone: 0265-2638864 (Office), 0265-260-5400 (Board No.),&nbsp;0265-2641260 (Fax)</li>
                            <li>&nbsp;</li>
                            <li>Centre for Excellence in Well Logging Technology (CEWELL)</li>
                            <li>Head CEWELL</li>
                            <li>ONGC, Makarpura Road, Vadodara – 390009</li>
                            <li>Telephone: 0265-2631497 (Office), 0265-2643873 (Fax)</li>
                        </ul>
                    </div>
                </div>
            </div>
                
        </div>
    </div>
{% endblock %}