{% extends "manager/base.html" %}
{% load static %}

{% block aboutactive %}active{% endblock %}

{% block body %}
    <div class="mt-80 container-fluid">
        <div class="breadcrumb-div d-flex justify-content-between"">
            <div class="">
                <h5 class="text-light">About ONGC</h5>
            </div>
            <div class="">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'index' %}"><span class="las la-home"></span></a></li>
                      <li class="breadcrumb-item"><a href="{% url 'about' %}">About ONGC</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Growth Story</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="mt-3 mb-3 p-3 static">
            <h3 class="heading display-6">Our Growth Story</h3>
            <p class="text-end small">Last updated on: 16 March 2021 11:30:00 am</p>


            <div class="col-sm-12">
                <p>ONGC was set up under the visionary leadership of Pandit Jawahar Lal Nehru. Pandit Nehru reposed faith in Shri Keshav Dev Malviya who laid the foundation of ONGC in the form of Oil and Gas division, under Geological Survey of India, in 1955. A few months later, it was converted into an Oil and Natural Gas Directorate. The Directorate was converted into Commission and christened Oil &amp; Natural Gas Commission on 14th August 1956.</p>

                <p>"Not only had India..set up her own machinery for oil exploration and exploitation... an efficient oil commission had been built where a large number of bright young men and women had been trained and they were doing good work" said Pandit JawaharLal Nehru, India's first Prime Minister to Lord Mountbatten, on ONGC in 1959.</p>

                <p>In 1994, Oil and Natural Gas Commission was converted in to a Corporation, and in 1997 it was recognized as one of the Navratnas by the Government of India. Subsequently, it has been conferred with Maharatna status in the year 2010.</p>

                <p>In its 60 years of illustrious journey, ONGC has crossed many a milestone to realize the energy aspirations of India. The journey of ONGC, over these years, has been a tale of conviction, courage and commitment. ONGCs’ superlative efforts have resulted in converting earlier frontier areas into new hydrocarbon provinces. From a modest beginning, ONGC has grown to be one of the largest E&amp;P companies in the world in terms of reserves and production.</p>

                <p><strong>The Company’s Evolution can be summarized as under:</strong></p>

                <ul class="list-unstyled story-list">
                    <li>1955 – Inception</li>
                    <li>1958 – First Oil in Cambay</li>
                    <li>1960 – Oil&nbsp; gas discovery in Gujarat</li>
                    <li>1963 – Oil in Assam</li>
                    <li>1965 – Concept of ONGC Videsh Operations</li>
                    <li>1970 – first Offshore well</li>
                    <li>1974 – Mumbai High discovered</li>
                    <li>1976 – Bassein Gas field of Mumbai High</li>
                    <li>1984 – GAIL formed out of ONGC</li>
                    <li>1993 – ONGC a limited company</li>
                    <li>1993 – Govt of India divest 2% share</li>
                    <li>1994 – 2% share to employees</li>
                    <li>1999 – Equity swap ONGC, IOC, GAIL</li>
                    <li>2003 – Acquired Mangalore Refineries Petrochemicals Ltd from Birla Group</li>
                    <li>2003 – Ist equity Oil &amp; gas from Sudan / Vietnam</li>
                    <li>2004 – Govt of India divests 10%</li>
                    <li>2006 – Diversification – ONGC Petro additives Ltd and ONGC Mangalore Petro Ltd</li>
                    <li>2007 – ONGC Energy Centre formed</li>
                    <li>2010 – Coal Bed Methane Production</li>
                    <li>2013 – Oil at Kazakhstan/Mozambique</li>
                    <li>2014 – Top Energy Company of India; 5<sup>th</sup>&nbsp;in Asia, 21<sup>st</sup>&nbsp;globally: Platts</li>
                    <li>2015 – ONGC Energy Center receives US Patent</li>
                    <li>2016 – Forbes Global: ONGC 3<sup>rd</sup>&nbsp;largest in India</li>
                    <li>2018 – 51.11% stake in Hindustan Petroleum Corporation Limited</li>
                    <li>2019 – Invests Rs 83,000 crore in 25 projects; oil &amp; gas gain over 180 MT</li>
                    <li>2019 – Bengal Basin discovered</li>
                    <li>2020 – ONGC bags 7 Blocks in Bid Round IV of OALP</li>
                    <li>2020 – Bengal Basin dedicated to nation</li>
                </ul>

                <p dir="ltr">With more than 50 years of Exploration ONGC had discovered 6 of the 7 Producing basins of India. These Oil Producing Basins are;</p>

                <ul class="list-unstyled story-list">
                    <li>1958 – Cambay, Gujarat</li>
                    <li>1967 – Rajasthan</li>
                    <li>1973 – Assam</li>
                    <li>1974 – Mumbai Offshore</li>
                    <li>1980 – Krishna Godavari Basin</li>
                    <li>1985 – Cauvery Basin</li>
                    <li>2019 – Bengal Basin</li>
                </ul>

                <p class="text-break">ONGC as an integrated Oil &amp; Gas Corporate has developed in-house capability in all aspects of exploration and production business i.e., Acquisition, Processing &amp; Interpretation (API) of Seismic data, drilling, work-over and well stimulation operations, engineering &amp; construction, production, processing, refining, transportation, marketing, applied R&amp;D and training, etc.</p>
            </div>
        </div>
    </div>
{% endblock %}