{% extends "manager/base.html" %}
{% load static %}

{% block payactive %}active{% endblock %}

{% block body %}

    <div class="mt-80 container-fluid">
        <div class="breadcrumb-div d-flex justify-content-between"">
            <div class="">
                <h5 class="text-light">Pay</h5>
            </div>
            <div class="">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'index' %}"><span class="las la-home"></span></a></li>
                      <li class="breadcrumb-item"><a href="{% url 'pay' %}">Pay</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Online Payment</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="mt-3 mb-3 p-3 static">
            <h3 class="heading display-6">Pay</h3>

            <div class="row" dir="ltr">
                <div class="col-sm-12">
                    
                </div>
            </div>
                
        </div>
    </div>
{% endblock %}